#*
.#*
*~
_site
.idea
*.sw[op]
.project
sample-pages
docs/
spring-cloud-cli/
spring-cloud-cli-integration-tests/
spring-cloud-launcher/
spring-cloud-versions/
*.iml
target/
*.class
*.jar
*.jar.original
